@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --blue:#427dcb;
    --black:rgb(11, 11, 11);
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--blue);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--blue);
}

.btn {
    margin-top: 2rem;
    display: inline-block;
    text-align: right;
    border: 0.2rem solid #9fbbe0;
    border-radius: 1.2rem;
    color: #55899b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
  }
  
  .btn:hover {
    background: #427dcb;
    color: #fff;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #2b384d;
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header.active {
    background: rgb(20, 26, 75);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: #212c71;
    font-weight: bolder;
  }
  
  .header .logo i {
    color:  #212c71;
  
  }
  .header .logo span {
    color:  #212c71;
  
  }
  .header .navbar a {
    margin-left: 3rem;
    /* margin: auto; */
    font-size: 1.8rem;
    color: #142356;
    text-align: center;
  }
  
  .header .navbar a:hover {
    color: #1d7072;
  }
  
  .header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #bbc4Eb;
    display: none;
  }
  
  .header .icons a,
  .header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #1d2857;
  }
  
  .header .icons a:hover
  .header .icons div:hover {
    color: #9fafa6;
  }
  
  .header #menu-btn {
    display: none;
  }
  .header .login-form {
    position: absolute;
    top: 220%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 45rem;
    background: #798dc5;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    -webkit-animation: fadeIn .2s linear;
            animation: fadeIn .2s linear;
    display: none;
    border-radius: 12px;
  }
  
  .header .login-form.active {
    display: block;
  }
  
  .header .login-form h3 {
    font-size: 2.5rem;
    color: black;
    text-transform: capitalize;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .header .login-form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: #67c4c9;
    font-size: 1.6rem;
    color: var(--light-color);
    margin: .7rem 0;
    border-radius: 6px;
  }
  
  .header .login-form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  
  .header .login-form .flex label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
  }
  
  .header .login-form .flex a {
    font-size: 1.5rem;
    color: var(--light-color);
    margin-left: auto;
  }
  
  .header .login-form .flex a:hover {
    color: var(--yellow);
    text-decoration: underline;
  }
  
  .header .login-form .btn {
    width: 100%;
  }
  
  .header .login-form p {
    font-size: 1.5rem;
    color: white;
    line-height: 2;
    padding-top: 1.5rem;
  }
  
  .header .login-form p a {
    color: rgb(255, 255, 255);
  }
  
  .header .login-form p a:hover {
    text-decoration: underline;
  }
  
  .header .contact-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 35rem;
    background: rgb(69, 75, 139);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;
  }
  
  .contact-info.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(208, 210, 220, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: block;
  }
  
  .contact-info #close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 5rem;
    color: var(--black);
  }
  
  .contact-info #close-contact-info:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  .contact-info .info {
    padding: 2rem 0;
  }
  
  .contact-info .info i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: rgb(80, 225, 223);
    cursor: pointer;
    text-align: center;
    margin-bottom: .5rem;
  }
  
  .contact-info .info i:hover {
    background: rgb(140, 110, 110);
    color: white;
  }
  
  .contact-info .info h3 {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;
  }
  
  .contact-info .info p {
    font-size: 1.5rem;
    color: #c0d7fb;
    line-height: 2;
  }
  
  .contact-info .share {
    padding-top: 2rem;
    border-top: var(--border);
    margin-top: 1rem;
  }
  
  .contact-info .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: rgb(67, 205, 220);
    cursor: pointer;
    text-align: center;
    margin: 0 .3rem;
  }
  
  .contact-info .share a:hover {
    background: var(--black);
  }

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--blue);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}



.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color:var(--blue);
    padding-bottom: .7rem;
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color:var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}

.Yoga .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.Yoga .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.Yoga .box-container .box img{
    height: 20rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Yoga .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.Yoga .box-container .box span{
    color:var(--blue);
    font-size: 1.5rem;
}

.Yoga .box-container .box .share{
    padding-top: 2rem;
}

.Yoga .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--blue);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.Yoga .box-container .box .share a:hover{
    background:var(--blue);
    color:#fff;
    box-shadow: var(--box-shadow);
}

.footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..image/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: rgb(6, 41, 116);
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: rgb(6, 41, 116);
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    color: #c0d7fb;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: rgb(6, 41, 116);
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #53c6e6;
  }
  
  .footer .credit span {
    color: #53c6e6;
  }





/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}