@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: rgb(140, 153, 162);
}

html::-webkit-scrollbar-thumb {
  background: #777696;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 2rem;
  display: inline-block;
  text-align: right;
  border: 0.2rem solid #9fbbe0;
  border-radius: 1.2rem;
  color: #abaf78;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #427dcb;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #C0D7FB;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.active {
  background: rgb(20, 26, 75);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #bbc4Eb;
  font-weight: bolder;
}

.header .logo i {
  color:  #bbc4Eb;

}
.header .logo span {
  color:  #717380;

}


.header .navbar a {
  margin-left: 3rem;
  /* margin: auto; */
  font-size: 1.7rem;
  color: #bbc4Eb;
  text-align: center;
}

.header .navbar a:hover {
  color: #c165c9;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #bbc4Eb;
  display: none;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #bbc4Eb;
}

.header .icons a:hover
.header .icons div:hover {
  color: #9fafa6;
}

.header #menu-btn {
  display: none;
}
.header .login-form {
  position: absolute;
  top: 220%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 45rem;
  background: #798dc5;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
  display: none;
  border-radius: 12px;
}

.header .login-form.active {
  display: block;
}

.header .login-form h3 {
  font-size: 2.5rem;
  color: black;
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: #67c4c9;
  font-size: 1.6rem;
  color: var(--light-color);
  margin: .7rem 0;
  border-radius: 6px;
}

.header .login-form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.header .login-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.header .login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}

.header .login-form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.header .login-form .btn {
  width: 100%;
}

.header .login-form p {
  font-size: 1.5rem;
  color: white;
  line-height: 2;
  padding-top: 1.5rem;
}

.header .login-form p a {
  color: rgb(255, 255, 255);
}

.header .login-form p a:hover {
  text-decoration: underline;
}

.header .contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: rgb(69, 75, 139);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(208, 210, 220, 0.7);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 5rem;
  color: var(--black);
}

.contact-info #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: rgb(80, 225, 223);
  cursor: pointer;
  text-align: center;
  margin-bottom: .5rem;
}

.contact-info .info i:hover {
  background: rgb(140, 110, 110);
  color: white;
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: #c0d7fb;
  line-height: 2;
}

.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: rgb(67, 205, 220);
  cursor: pointer;
  text-align: center;
  margin: 0 .3rem;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.search-form.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: rgb(206, 227, 235);
  font-size: 6rem;
}

.search-form #close-search:hover {
  color: #4ad9de;
}

.search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}

.search-form form input::-webkit-input-placeholder {
  color: #aaa;
}

.search-form form input:-ms-input-placeholder {
  color: #aaa;
}

.search-form form input::-ms-input-placeholder {
  color: #aaa;
}

.search-form form input::placeholder {
  color: #aaa;
}

.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(225, 233, 234);
}

.search-form form label:hover {
  color: #45cbd2;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .box .content {
  width: 50rem;
}

.home .box .content span {
  font-size: 4rem;
  color: #ccdbd5;
}

.home .box .content h3 {
  font-size: 6rem;
  color: #82c8d1;
  padding-top: .5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  color: #cee7de;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #a2cfd8;
}


.about {
  background: #163676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
  -webkit-box-shadow: 4rem 5rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  color: #c0d7fb;
}

.about .content p {
  font-size: 1.5rem;
  color: #ced1da;
  padding: 1rem 0;
  line-height: 2;
}

.menu .list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding:1rem 0;
  margin:2rem 0;
  border-top: .3rem dashed rgba(0,0,0,.2);
  border-bottom: .3rem dashed rgba(0,0,0,.2);
}

.menu .list .btn{
  margin:1rem;
}

.menu .list .btn.active,
.menu .list .btn:hover{
  background:var(--yellow);
  color:#fff;
}

.menu .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu .row .image{
  margin:2rem;
  padding:2rem;
  flex:1 1 40rem;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.menu .row .image img{
  width:100%;
  object-fit: cover;
  border-radius: 1rem;
}

.menu .row .content{
  flex:1 1 40rem;
}

.menu .row .content .info{
  padding:1rem 0;
}

.menu .row .content .info h3{
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  color:#333;
}

.menu .row .content .info h3 span{
  padding-right: 1rem;
  color:var(--yellow);
}

.menu .row .content .info p{
  padding:1rem 0;
  padding-left: 4.5rem;
  font-size: 1.5rem;
  color:#666;
}

.types{
  background:#163676;
  
}

.types .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.types .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  background: #c9d1d5;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.2);
  text-align: center;
  padding:2rem;
}
.types .box-container .box:hover .btn {
  border-color: #fff;
  border-radius: 2rem;
  color: #fff;
}

.types .box-container .box:hover .btn:hover {
  background: #fff;
  color: #000000;
}
.types .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
}

.types .box-container .box p{
  font-size: 1.5rem;
  color:rgb(14, 13, 13);
  padding:.5rem 0;
  line-height: 2;
}
.types .box-container .box:hover {
  background: #5382be;
}
.popular{
  background:linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)), url(../images/popular-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.yoga {
  background: #163676;
}

.yoga .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.yoga .box-container .box {
  text-align: center;
  background: #c9d1d5;
  border: 0.2rem solid #427dcb;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.yoga .box-container .box:hover {
  background: #5382be;
}

/* .yoga .box-container .box:hover .content > * {
  color: rgb(129, 216, 206);
} */

.yoga .box-container .box:hover .btn {
  border-color: #fff;
  border-radius: 2rem;
  color: #fff;
}

.yoga .box-container .box:hover .btn:hover {
  background: #fff;
  color: #000000;
}

.yoga .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: .5rem;
}

.yoga .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.yoga .box-container .box .content {
  padding: 2rem;
}

.yoga .box-container .box .content h3 {
  font-size: 3rem;
  color: #333;
}

.yoga .box-container .box .content p {
  font-size: 1.5rem;
  color: #18191a;
  padding: 1rem 0;
  line-height: 2;
}


.trendingdieases {
  background: #163676;
}

.trendingdieases .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.trendingdieases .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #427dcb;
  border-radius: .5rem;
  background: #c9d1d5;
}

.trendingdieases .box-container .box:hover {
  background: #427dcb;
}

.trendingdieases .box-container .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/* .trendingdieases .box-container .box:hover p {
  color: #fff;
} */

.trendingdieases .box-container .box:hover .btn {
  border-color: #fff;
  border-radius: 2rem;
  color: #fff;
}

.trendingdieases .box-container .box:hover .btn:hover {
  background: #fff;
  color: #000000;
}

.trendingdieases .box-container .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.trendingdieases .box-container .box h3 {
  font-size: 3rem;
  color: #0f1110;
}

.trendingdieases .box-container .box p {
  font-size: 1.5rem;
  color: #000000;
  padding: 1rem 0;
  line-height: 2;
}
.Register{
  background:url(../images/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

}
.Register{
  background: #163676;;
}
.Register .row{
  display: flex;
  background:#fff;
  margin:2rem 0;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: 1rem;
}

.Register .row .image{
  flex:1 1 40%;
}

.Register .row .image img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.Register .row form{
  flex:1 1 60%;
  background:#fff;
  padding:2rem;
}

.Register .row form .box{
  padding:1rem;
  margin:1rem 0;
  font-size: 1.5rem;
  color:#333;
  text-transform: none;
  background:#f0f0f0;
  width:100%;
}

.Register .row form .box::placeholder{
  text-transform: capitalize;
}

.Register .row form .address{
  resize: none;
  height:15rem;
}

.register {
  background:#35579c;
}

.Register .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.Register .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: #ced1da;
}

.Register .content form {
  margin-top: 2rem;
  background: #d6e1e1;
  border-radius: 5rem;
  /* border: 0.2rem solid #427dcb; */
  padding: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #000000;
  padding: 0 1.3rem;
}

.Register .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #212a4a;
  color: #fff;
}

.Register .content form .btn:hover {
  background: none;
  color: #393c41;
}
.clients{
  background: #35579c;
}
.clients .silde {
  text-align: center;
}

.clients .silde img {
  height: 12rem;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #c0d7fb;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #53c6e6;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #53c6e6;
}

.footer .credit span {
  color: #53c6e6;
}

/* // Responsive ness for website */

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: rgb(36, 39, 73);
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }

  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
